/*
* Copyright (c) 2024 Beijing Institute of Open Source Chip
* OpenNoC is licensed under Mulan PSL v2.
* You can use this software according to the terms and conditions of the Mulan PSL v2.
* You may obtain a copy of Mulan PSL v2 at:
*          http://license.coscl.org.cn/MulanPSL2
* THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
* MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
* See the Mulan PSL v2 for more details.
*
* Author:
*    AUTHOR_NAME <AUTHOR_NAME@bosc.ac.cn>
*/

`ifndef {{ module.upper() }}_H
`define {{ module.upper() }}_H

module {{ module }}
#(
  // See the mesh wrapper: defaulted so the generated top elaborates standalone,
  // and the SNP routing sideband follows SS16.1's NodeID_Width rather than a
  // literal 7.
  parameter REQ_FLIT_WIDTH = $bits(chie_pkg::req_flit_s),
  parameter RSP_FLIT_WIDTH = $bits(chie_pkg::rsp_flit_s),
  parameter DAT_FLIT_WIDTH = $bits(chie_pkg::dat_flit_s),
  parameter SNP_FLIT_WIDTH = $bits(chie_pkg::snp_flit_s),
  parameter CHIE_NID_WIDTH_PARAM = chie_pkg::NID_WIDTH
)
(
  input clk
  ,input reset

  {% for node in nodes %}
  {% for p in ['P0', 'P1'] %}
  {% if node[p].value != 'NONE' %}
  //============================================================
  //CHI {{ node.name }}_{{ p }} {{ node[p].value }} signal
  //============================================================
  {% for dir, width, sig in chi_signals(node[p].value) %}
  ,{{ dir }} {{ width }} {{ node.name }}_{{ p }}_{{ sig }}
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% endfor %}
);

  
  // Generate signals
  {% for x_pos in range(0, xmax + 1) %}
  {% for channel in ['req', 'dat', 'rsp'] %}
  {% if x_pos in range(0, xmax) %}
  wire m_{{ channel }}flitv_{{ x_pos }}_{{ x_pos + 1 }};
  wire [{{channel.upper()}}_FLIT_WIDTH-1:0] m_{{ channel }}flit_{{ x_pos }}_{{ x_pos + 1 }};
  wire m_{{ channel }}lcrdv_{{ x_pos }}_{{ x_pos + 1 }};

  wire m_{{ channel }}flitv_{{ x_pos + 1 }}_{{ x_pos }};
  wire [{{channel.upper()}}_FLIT_WIDTH-1:0] m_{{ channel }}flit_{{ x_pos + 1 }}_{{ x_pos }};
  wire m_{{ channel }}lcrdv_{{ x_pos + 1 }}_{{ x_pos }};

  {% else %}
  wire m_{{ channel }}flitv_{{ x_pos }}_0;
  wire [{{channel.upper()}}_FLIT_WIDTH-1:0] m_{{ channel }}flit_{{ x_pos }}_0;
  wire m_{{ channel }}lcrdv_{{ x_pos }}_0;

  wire m_{{ channel }}flitv_0_{{ x_pos }};
  wire [{{channel.upper()}}_FLIT_WIDTH-1:0] m_{{ channel }}flit_0_{{ x_pos }};
  wire m_{{ channel }}lcrdv_0_{{ x_pos }};
  {% endif %}
  {% endfor %}
  {% for channel in ['snp'] %}
  {% if x_pos in range(0, xmax) %}
  wire m_{{ channel }}flitv_{{ x_pos }}_{{ x_pos + 1 }};
  wire [{{channel.upper()}}_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM-1:0] m_{{ channel }}flit_{{ x_pos }}_{{ x_pos + 1 }};
  wire m_{{ channel }}lcrdv_{{ x_pos }}_{{ x_pos + 1 }};

  wire m_{{ channel }}flitv_{{ x_pos + 1 }}_{{ x_pos }};
  wire [{{channel.upper()}}_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM-1:0] m_{{ channel }}flit_{{ x_pos + 1 }}_{{ x_pos }};
  wire m_{{ channel }}lcrdv_{{ x_pos + 1 }}_{{ x_pos }};

  {% else %}
  wire m_{{ channel }}flitv_{{ x_pos }}_0;
  wire [{{channel.upper()}}_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM-1:0] m_{{ channel }}flit_{{ x_pos }}_0;
  wire m_{{ channel }}lcrdv_{{ x_pos }}_0;

  wire m_{{ channel }}flitv_0_{{ x_pos }};
  wire [{{channel.upper()}}_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM-1:0] m_{{ channel }}flit_0_{{ x_pos }};
  wire m_{{ channel }}lcrdv_0_{{ x_pos }};
  {% endif %}
  {% endfor %}
  {% endfor %}

  {% for node in nodes %}
  {% if node.P0.value in ['RNF'] %}
  // The sideband is NoC-internal routing; the delivered snoop is the flit alone.
  wire [SNP_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM-1:0] {{ node.name }}_P0_RXSNPFLIT_int;
  assign {{ node.name }}_P0_RXSNPFLIT = {{ node.name }}_P0_RXSNPFLIT_int[SNP_FLIT_WIDTH-1:0];
  {% endif %}
  {% if node.P1.value in ['RNF'] %}
  wire [SNP_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM-1:0] {{ node.name }}_P1_RXSNPFLIT_int;
  assign {{ node.name }}_P1_RXSNPFLIT = {{ node.name }}_P1_RXSNPFLIT_int[SNP_FLIT_WIDTH-1:0];
  {% endif %}
    // XP_INTF bit 4 is P0 and bit 5 is P1: a port the config calls "NONE" is
    // disabled, not merely left unconnected.
    localparam [5:0] {{ node.name }}_PORT_EN = 6'b{{ '0' if node.P1.value == 'NONE' else '1' }}{{ '0' if node.P0.value == 'NONE' else '1' }}1111;
    chi_ring_node #(
		.REQ_CH_EN({{ node.name }}_PORT_EN),
		.RSP_CH_EN({{ node.name }}_PORT_EN),
		.DAT_CH_EN({{ node.name }}_PORT_EN),
		.SNP_CH_EN({{ node.name }}_PORT_EN),
		.REQ_FLIT_WIDTH(REQ_FLIT_WIDTH),
		.RSP_FLIT_WIDTH(RSP_FLIT_WIDTH),
		.DAT_FLIT_WIDTH(DAT_FLIT_WIDTH),
		.SNP_FLIT_WIDTH(SNP_FLIT_WIDTH+CHIE_NID_WIDTH_PARAM),
		.CHIE_NID_WIDTH_PARAM(CHIE_NID_WIDTH_PARAM),
		.SNP_TGTID_OFFSET(SNP_FLIT_WIDTH),
        .ROUTER_NODE_NUM({{xmax + 1}})
    ) {{ node.name }} (
        .clk (clk)
        ,.rst (reset)
        ,.my_xid((CHIE_NID_WIDTH_PARAM-1)'({{ node.X }}))

        {% if node.P0.value not in ['NONE'] %}
        ,.TXLINKACTIVEREQ_P0({{ node.name }}_P0_RXLINKACTIVEREQ)
        ,.TXLINKACTIVEACK_P0({{ node.name }}_P0_RXLINKACTIVEACK)
        ,.RXLINKACTIVEREQ_P0({{ node.name }}_P0_TXLINKACTIVEREQ)
        ,.RXLINKACTIVEACK_P0({{ node.name }}_P0_TXLINKACTIVEACK)
        ,.TXSACTIVE_P0({{ node.name }}_P0_RXSACTIVE)
        ,.RXSACTIVE_P0({{ node.name }}_P0_TXSACTIVE)
        {% endif %}

        {% if node.P1.value not in ['NONE'] %}
        ,.TXLINKACTIVEREQ_P1({{ node.name }}_P1_RXLINKACTIVEREQ)
        ,.TXLINKACTIVEACK_P1({{ node.name }}_P1_RXLINKACTIVEACK)
        ,.RXLINKACTIVEREQ_P1({{ node.name }}_P1_TXLINKACTIVEREQ)
        ,.RXLINKACTIVEACK_P1({{ node.name }}_P1_TXLINKACTIVEACK)
        ,.TXSACTIVE_P1({{ node.name }}_P1_RXSACTIVE)
        ,.RXSACTIVE_P1({{ node.name }}_P1_TXSACTIVE) 
        {% else %}
        // P1 is "NONE": tied off rather than left unmentioned, so the channel's
        // linkactive inputs do not float into its credit logic. See the mesh
        // wrapper for the same arm.
        ,.TXLINKACTIVEREQ_P1()
        ,.TXLINKACTIVEACK_P1(1'b0)
        ,.RXLINKACTIVEREQ_P1(1'b0)
        ,.RXLINKACTIVEACK_P1()
        ,.TXSACTIVE_P1()
        ,.RXSACTIVE_P1(1'b0)
        {% endif %}

       {% for channel in ['req', 'dat', 'rsp', 'snp'] %}

        //RX{{ channel.upper() }} Channel
		{% if node.X in range(0, xmax) %}
        ,.RX{{ channel.upper() }}FLITV_E (m_{{ channel }}flitv_{{ node.X + 1}}_{{ node.X }})
        ,.RX{{ channel.upper() }}FLIT_E  (m_{{ channel }}flit_{{ node.X + 1}}_{{ node.X }})
        ,.RX{{ channel.upper() }}LCRDV_E (m_{{ channel }}lcrdv_{{ node.X + 1}}_{{ node.X }})
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_E (m_{{ channel }}flitv_0_{{ node.X }})
        ,.RX{{ channel.upper() }}FLIT_E  (m_{{ channel }}flit_0_{{ node.X }})
        ,.RX{{ channel.upper() }}LCRDV_E (m_{{ channel }}lcrdv_0_{{ node.X }})
        {% endif %}
		{% if node.X > 0 %}
        ,.RX{{ channel.upper() }}FLITV_W (m_{{ channel }}flitv_{{ node.X - 1 }}_{{ node.X }})
        ,.RX{{ channel.upper() }}FLIT_W  (m_{{ channel }}flit_{{ node.X - 1 }}_{{ node.X }})
        ,.RX{{ channel.upper() }}LCRDV_W (m_{{ channel }}lcrdv_{{ node.X - 1 }}_{{ node.X }})
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_W (m_{{ channel }}flitv_{{ xmax }}_{{ node.X }})
        ,.RX{{ channel.upper() }}FLIT_W  (m_{{ channel }}flit_{{ xmax }}_{{ node.X }})
        ,.RX{{ channel.upper() }}LCRDV_W (m_{{ channel }}lcrdv_{{ xmax }}_{{ node.X }})
        {% endif %}

        {% if channel in ['req'] %}
        {% if node.P0.value in ['RNF', 'RNI' , 'HNF'] %}
        ,.RX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_TX{{ channel.upper() }}FLITV)
        ,.RX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_TX{{ channel.upper() }}FLIT)
        ,.RX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_TX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_P0 (1'b0)
        ,.RX{{ channel.upper() }}FLIT_P0  ()
        ,.RX{{ channel.upper() }}LCRDV_P0 ()
        {% endif %}
        {% else %}
        {% if channel in ['snp'] %}
        {% if node.P0.value in ['HNF', 'MN'] %}
        ,.RX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_TX{{ channel.upper() }}FLITV)
        ,.RX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_TX{{ channel.upper() }}FLIT)
        ,.RX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_TX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_P0 (1'b0)
        ,.RX{{ channel.upper() }}FLIT_P0  ()
        ,.RX{{ channel.upper() }}LCRDV_P0 ()
        {% endif %}
        {% else %}
        {% if node.P0.value not in ['NONE'] and not (channel == 'dat' and node.P0.value == 'MN') %}
        ,.RX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_TX{{ channel.upper() }}FLITV)
        ,.RX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_TX{{ channel.upper() }}FLIT)
        ,.RX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_TX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_P0 (1'b0)
        ,.RX{{ channel.upper() }}FLIT_P0  ()
        ,.RX{{ channel.upper() }}LCRDV_P0 ()
        {% endif %}
        {% endif %}
        {% endif %}

        {% if channel in ['req'] %}
        {% if node.P1.value in ['RNF', 'RNI' , 'HNF'] %}
        ,.RX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_TX{{ channel.upper() }}FLITV)
        ,.RX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_TX{{ channel.upper() }}FLIT)
        ,.RX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_TX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_P1 (1'b0)
        ,.RX{{ channel.upper() }}FLIT_P1  ()
        ,.RX{{ channel.upper() }}LCRDV_P1 ()
        {% endif %}
        {% else %}
        {% if channel in ['snp'] %}
        {% if node.P1.value in ['HNF', 'MN'] %}
        ,.RX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_TX{{ channel.upper() }}FLITV)
        ,.RX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_TX{{ channel.upper() }}FLIT)
        ,.RX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_TX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_P1 (1'b0)
        ,.RX{{ channel.upper() }}FLIT_P1  ()
        ,.RX{{ channel.upper() }}LCRDV_P1 ()
        {% endif %}
        {% else %}
        
        {% if node.P1.value not in ['NONE'] and not (channel == 'dat' and node.P1.value == 'MN') %}
        ,.RX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_TX{{ channel.upper() }}FLITV)
        ,.RX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_TX{{ channel.upper() }}FLIT)
        ,.RX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_TX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.RX{{ channel.upper() }}FLITV_P1 (1'b0)
        ,.RX{{ channel.upper() }}FLIT_P1  ()
        ,.RX{{ channel.upper() }}LCRDV_P1 ()
        {% endif %}
        {% endif %}
        {% endif %}

        //TX{{ channel.upper() }} Channel
		{% if node.X in range(0, xmax) %}
        ,.TX{{ channel.upper() }}FLITV_E (m_{{ channel }}flitv_{{ node.X }}_{{ node.X + 1}})
        ,.TX{{ channel.upper() }}FLIT_E  (m_{{ channel }}flit_{{ node.X }}_{{ node.X + 1}})
        ,.TX{{ channel.upper() }}LCRDV_E (m_{{ channel }}lcrdv_{{ node.X }}_{{ node.X + 1}})
        {% else %}
        ,.TX{{ channel.upper() }}FLITV_E (m_{{ channel }}flitv_{{ node.X }}_0)
        ,.TX{{ channel.upper() }}FLIT_E  (m_{{ channel }}flit_{{ node.X }}_0)
        ,.TX{{ channel.upper() }}LCRDV_E (m_{{ channel }}lcrdv_{{ node.X }}_0)
        {% endif %}
		{% if node.X > 0 %}
        ,.TX{{ channel.upper() }}FLITV_W (m_{{ channel }}flitv_{{ node.X }}_{{ node.X - 1}})
        ,.TX{{ channel.upper() }}FLIT_W  (m_{{ channel }}flit_{{ node.X }}_{{ node.X - 1}})
        ,.TX{{ channel.upper() }}LCRDV_W (m_{{ channel }}lcrdv_{{ node.X }}_{{ node.X - 1}})
        {% else %}
        ,.TX{{ channel.upper() }}FLITV_W (m_{{ channel }}flitv_{{ node.X }}_{{ xmax}})
        ,.TX{{ channel.upper() }}FLIT_W  (m_{{ channel }}flit_{{ node.X }}_{{ xmax}})
        ,.TX{{ channel.upper() }}LCRDV_W (m_{{ channel }}lcrdv_{{ node.X }}_{{ xmax}})
        {% endif %}
        {% if channel in ['req'] %}
        {% if node.P0.value in ['HNI', 'HNF', 'SNF', 'MN'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLIT)
        ,.TX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ()
        ,.TX{{ channel.upper() }}FLITV_P0 ()
        ,.TX{{ channel.upper() }}FLIT_P0  ()
        ,.TX{{ channel.upper() }}LCRDV_P0 (1'b0)
        {% endif %}
        {% else %}
        {% if channel in ['snp'] %}
        {% if node.P0.value in ['RNF'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLIT_int)
        ,.TX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ()
        ,.TX{{ channel.upper() }}FLITV_P0 ()
        ,.TX{{ channel.upper() }}FLIT_P0  ()
        ,.TX{{ channel.upper() }}LCRDV_P0 (1'b0)
        {% endif %}
        {% else %}
        {% if channel in ['rsp'] %}
        {% if node.P0.value not in ['SNF', 'NONE'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLIT)
        ,.TX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ()
        ,.TX{{ channel.upper() }}FLITV_P0 ()
        ,.TX{{ channel.upper() }}FLIT_P0  ()
        ,.TX{{ channel.upper() }}LCRDV_P0 (1'b0)
        {% endif %}
        {% else %}
        {% if node.P0.value not in ['NONE'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P0({{ node.name }}_P0_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P0 ({{ node.name }}_P0_RX{{ channel.upper() }}FLIT)
        ,.TX{{ channel.upper() }}LCRDV_P0({{ node.name }}_P0_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P0 ()
        ,.TX{{ channel.upper() }}FLITV_P0 ()
        ,.TX{{ channel.upper() }}FLIT_P0  ()
        ,.TX{{ channel.upper() }}LCRDV_P0 (1'b0)
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}

        {% if channel in ['req'] %}
        {% if node.P1.value in ['HNI', 'HNF', 'SNF', 'MN'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLIT)
        ,.TX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ()
        ,.TX{{ channel.upper() }}FLITV_P1 ()
        ,.TX{{ channel.upper() }}FLIT_P1  ()
        ,.TX{{ channel.upper() }}LCRDV_P1 (1'b0)
        {% endif %}
        {% else %}
        {% if channel in ['snp'] %}
        {% if node.P1.value in ['RNF'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLIT_int)
        ,.TX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ()
        ,.TX{{ channel.upper() }}FLITV_P1 ()
        ,.TX{{ channel.upper() }}FLIT_P1  ()
        ,.TX{{ channel.upper() }}LCRDV_P1 (1'b0)
        {% endif %}
        {% else %}
        {% if channel in ['rsp'] %}
        {% if node.P1.value not in [ 'SNF', 'NONE' ] %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLIT)
        ,.TX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ()
        ,.TX{{ channel.upper() }}FLITV_P1 ()
        ,.TX{{ channel.upper() }}FLIT_P1  ()
        ,.TX{{ channel.upper() }}LCRDV_P1 (1'b0)
        {% endif %}
        {% else %}
        {% if node.P1.value not in ['NONE'] %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLITPEND)
        ,.TX{{ channel.upper() }}FLITV_P1({{ node.name }}_P1_RX{{ channel.upper() }}FLITV)
        ,.TX{{ channel.upper() }}FLIT_P1 ({{ node.name }}_P1_RX{{ channel.upper() }}FLIT)
        ,.TX{{ channel.upper() }}LCRDV_P1({{ node.name }}_P1_RX{{ channel.upper() }}LCRDV)
        {% else %}
        ,.TX{{ channel.upper() }}FLITPEND_P1 ()
        ,.TX{{ channel.upper() }}FLITV_P1 ()
        ,.TX{{ channel.upper() }}FLIT_P1  ()
        ,.TX{{ channel.upper() }}LCRDV_P1 (1'b0)
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
		{% endfor %}
    );
  {% endfor %}
endmodule
`endif /* {{ module.upper() }}_H */
